*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ff0080;
    padding: 1rem 0;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #f4f4f4;
}
.container{
    width: 100%; 
    height: 100vh;
    background: #333;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.music-player{
    background: #ffe0e5;
    width: 450px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: #f53192;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
nav img{
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color: #333;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 50px;
    height: 50px;
    margin: 15px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer; 
}
.controls div:nth-child(2) {
    transform: scale(1.4);
    border: 5px solid #ce73a1;
    color: #fff;
}
.controls div:nth-child(2) img{
    margin-left: 3px;
}
.music-player h1, .music-player p {
    display: block !important;
}
.playListMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;  
}
.createPlayBtn{
    background-color: #ff0080;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    box-shadow: 0 10px 20px rgba(252, 0, 139, 0.22);
    cursor: pointer; 
    margin: 5rem;
    font-weight: 700; 
}
input[type="radio"] {
    width: 35px;
    height: 35px;
    background-color: rgb(252, 6, 149);
}
  
label[for^="song"] {
    color: white;
    font-size: 23px;
    margin-left: 3rem;
}
.formTitle{
    color: white;
    font-size: 26px;
}
input[type="text"] {
    width: 300px;
    height: 45px;
    margin-left: 2rem;
    margin-top: 4rem;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;

}



.copy-link{
    color: #ff0080;
    text-decoration: none;
    margin-left: 2rem;
}
.viewPlay{
    color: #fff;
    margin-right: 4rem;
}
.playlist-item{
    color: #fff;
    font-size: 19px;
    margin-bottom: 2rem;
}


